.secaoContato {
    background-color: #e5e5e5;
    padding: 1.5rem 1rem;
}

.mensagemContato, .telefoneContato, .detalheContato {
    color: #0f0f0f;
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
    margin: 0.75rem 0;
    text-align: center;
}

.mensagemContato {
    font-size: 1.45rem;
}

@media screen and (min-width: 768px) {
    .secaoContato {
        margin-left: 23%;
        width: calc(100% - 23%);
        padding: 2rem 2rem 2.5rem;
    }
}
