footer {
    background-color: #0f0f0f;
    color: #fdfdfd;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 1rem 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    footer {
        margin-left: 23%;
        width: calc(100% - 23%);
    }
}
